* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", serif;
    background-color: #0b1522;
}

.heart {
    height: 200px;
    width: 200px;
    background-color: #f20044;
    position: relative;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px #f20044;
    animation: heart 0.6s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;  
    font-size: 12px; 
    text-align: center;
    padding: 10px;
}

.heart p {
    position: absolute;
    z-index: 9999;
    width: 100%;
    transform: rotate(45deg) translate(0,-50px);
}

.button a{
    text-decoration: none;
    font-size: 1rem;
    color: #111;
}

#playButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0a2be9;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.botones{
    padding: 25px;
    border-radius: 80px;
    background-color: transparent;
    border: none;
    font-family: "Poppins", serif;
}

.botones a{
    background-color: #df1919;
    padding: 9px;
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;

}

.botones a:focus{
    background-color: rgb(50, 194, 194);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Espacio entre el corazón y el botón */
}

.button {
    margin-top: 50px; /* Agrega un margen superior para separar el botón */
    
}


@keyframes  heart {
    0% {
        transform: rotate(-45deg) scale(1.07);
    }
    80% {
        transform: rotate(-45deg) scale(1.0);
    }
    100% {
        transform: rotate(-45deg) scale(0.8);
    }
}

.heart::before {
    content: "";
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: #f20044;
    top: -50%;
    border-radius: 100px;
    box-shadow: -10px -10px 90px #f20044;
}

.heart::after {
    content: "";
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: #f20044;
    right: -50%;
    border-radius: 100px;
    box-shadow: 10px 10px 90px #f20044;
}

